@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
/*! contextmenu layout */
.e-contextmenu-wrapper ul .e-menu-item .e-previous::before,
.e-contextmenu-container ul .e-menu-item .e-previous::before {
  content: '\e977';
}

.e-contextmenu-wrapper ul .e-menu-item .e-caret::before,
.e-contextmenu-container ul .e-menu-item .e-caret::before {
  content: '\e956';
}

.e-rtl.e-contextmenu-wrapper .e-menu-item .e-caret::before,
.e-rtl.e-contextmenu-container .e-menu-item .e-caret::before {
  content: '\e937';
}
