/*! vscroll icons */
.e-vscroll.e-scroll-device .e-nav-up-arrow::before {
  content: '\e85e';
}

.e-vscroll.e-scroll-device .e-nav-down-arrow::before {
  content: '\e84f';
}

.e-vscroll .e-nav-up-arrow::before {
  content: '\e910';
  line-height: normal;
}

.e-vscroll .e-nav-down-arrow::before {
  content: '\e916';
  line-height: normal;
}
